DATABASE_URL="postgresql://postgres:postgres@localhost:5432/coronados_db?schema=public"
JWT_SECRET="super-secret-change-me"
PORT=3000
FRONTEND_URL="http://localhost:5173"
FRONTEND_URLS="http://localhost:5173,https://tu-app.vercel.app"
APP_TIMEZONE="America/Lima"
